<div class="task-item">
  <h5>{{ task.title }}</h5>
  <p>{{ task.description }}</p>
  <p class="text-muted">
    Creado el: {{ task.createdAt | date:'short' }}
    <span *ngIf="task.completedAt"> | Completado el: {{ task.completedAt | date:'short' }}</span>
    <span *ngIf="task.discardedAt"> | Descartado el: {{ task.discardedAt | date:'short' }}</span>
  </p>
  <button *ngIf="viewMode === 'all'" class="btn btn-success" (click)="completeTask()">Completado</button>
  <button *ngIf="viewMode === 'all'" class="btn btn-danger" (click)="discardTask()">Borrar</button>
</div>
