<div class="container">
  <h2>Lista de Tareas</h2>
  <div class="text-center">
    <button class="btn btn-primary my-3" (click)="openModal()">Agregar nueva tarea</button>
  </div>

  <div class="task-list">
    <ng-container *ngFor="let task of tasks">
      <div class="task-item card mb-3" [ngClass]="{'completed': task.completed, 'discarded': task.discarded}">
        <app-task-item
          [task]="task"
          viewMode="all"
          (onEdit)="openModal(task)"
          (onComplete)="completeTask(task.id)"
          (onDiscard)="discardTask(task.id)">
        </app-task-item>
      </div>
    </ng-container>
  </div>

  <app-task-modal 
    *ngIf="isModalOpen" 
    [isEditing]="isEditing" 
    [taskId]="selectedTaskId" 
    (onClose)="closeModal()"
    (onSubmit)="handleTaskSubmit($event)">
  </app-task-modal>
</div>
